html,body{ height:100%; weigth:auto;}
body{
    background-image: url("../images/Aiouen_by_egher.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
canvas{
    margin-left:30px;
    float: left;
}
audio,button{
    position:relative;
    display:inline;
    height:30px;
    float: right;
    vertical-align:middle;
} 
h1{
    display:inline;   
}
#credit{     
    margin: 100px;
    margin-top:200px;
    float: right;
    bottom:0;
    font: 120% sans-serif
}
ul{   
    padding:20px;
    padding-top:5px;
    background-color:rgba(88, 88, 88, 0.4);   
    border-radius: 25px;
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
ul a{
    color:blue;
}    